[package]
name = "eyedropper"
version = "0.1.0"
authors = ["FineFindus <finefindusgh@gmail.com>"]
edition = "2021"
description = "A simple to use color picker and editor."
readme = "README.md"
license-file = "LICENSE"
homepage = "https://github.com/finefindus/eyedropper"
repository = "https://github.com/finefindus/eyedropper"


#override package level optimazation, to always be maximum
[profile.release.package."*"] 
opt-level = 3


[dependencies]
log = "0.4"
pretty_env_logger = "0.4"
gettext-rs = { version = "0.7", features = ["gettext-system"] }
once_cell = "1.9"
gtk = {version = "0.4", package = "gtk4"}
glib = "0.15.12"
adw = {package = "libadwaita", version = "0.1.1"}
gtk-macros = "0.3"
ashpd = "0.3.2"
rand = "0.8.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

