[package]
name = "eyedropper"
version = "0.7.0-beta"
authors = ["FineFindus <finefindusgh@gmail.com>"]
edition = "2021"
description = "Pick and format colors"
readme = "README.md"
license-file = "LICENSE"
homepage = "https://github.com/finefindus/eyedropper"
repository = "https://github.com/finefindus/eyedropper"
rust-version = "1.70"


#override package level optimization, to always be maximum
[profile.release.package."*"]
opt-level = 3

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true

[build-dependencies]
phf = { version = "0.11.2", default-features = false }
phf_codegen = "0.11.1"

[dependencies]
log = "0.4"
pretty_env_logger = "0.5"
gettext-rs = { version = "0.7", features = ["gettext-system"] }
once_cell = "1.18.0"
gtk = { version = "0.7.1", package = "gtk4", features = ["gnome_44"] }
glib = "0.18.1"
adw = { package = "libadwaita", version = "0.5.2", features = ["v1_4"] }
ashpd = { version = "0.5.0", features = ["gtk4"] }
rand = "0.8"
bytes = "1.4"
search-provider = { version = "0.6.0", features = ["gdk-pixbuf"] }
nom = "7.1"
phf = { version = "0.11.2", features = ["macros"] }
