.title-header{
  font-size: 36px;
  font-weight: bold;
}

.redScale trough highlight {
  background-color: red;
  color: red;
}

.greenScale trough highlight {
  background-color: green;
  color: green;
}

.blueScale trough highlight {
  background-color: blue;
  color: blue;
}


.alphaScale trough highlight {
  background-color: black;
  color: black;
}

button#history-item {
  padding: 0px;
  /* padding-left: 0; padding-right: 0;  */
}
